body{
  background-color: #8f384d;
}
img{
  height: 25vh;
  margin-bottom: 60vh;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  border: 1px solid #eeeded;
  width: 70vw;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #5c6e91;
  font-size: 20px;
  font-weight: bold;
}

input:focus{
  outline: none;
}

.items{
  background-color: #5c6e91;
  color: white;
  border-right: 1px solid  #eeeded;
  border-left: 1px solid  #eeeded;
  border-bottom: 1px solid  #eeeded;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.item{
  width: 70vw;
  padding: 8px 20px 8px 20px ;
  border-top: 1px solid gray;
  
}
.item:nth-last-child(1){
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item:hover{
  background-color: #dd9866;
}

